<!DOCTYPE html>
<html>
<head>
	<title>The Public Slang Database</title>
</head>
<body>

<h1>Pick slangs by a specific condition</h1> <br>

<p class = "explanation"> [Insert explanation here] </p> <br>

<form action="/filter/:word" method="POST" >
	<input type="text" name="word" placeholder="Write here"> <button>Submit</button>
</form>

</body>
</html>