/*Original code gotten from: http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery*/

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links {
            padding:6px 12px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
            margin: 3px;
        }
 
        .tab-links :hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    a:hover {
        background:#fff;
        color:#4c4c4c;
    }


 /*----- Content of Tabs -----*/

    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
    .tab {
        display:none;
    }